:root {
	--dark: #222;
	--main: #F60;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;: 
}

body {
	margin: 0;
	background-color: var(--dark);
	font-family: "Helvetica Neue", sans-serif;
}

#calculator {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 280px;
	height: 400px;
	padding: 1em;
	background-color: var(--main);
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

#screen {
	position: relative;
	height: 3em;
	padding-left: .5em;
	padding-right: .5em;
	border-radius: 4px;
	background-color: var(--dark);
	color: var(--main);
	
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#buttons {
	flex: 1;
	padding-top: 1em;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	width: 62px;
	height: 62px;
	border: 1px solid var(--main);
	border-radius: 5px;
	background-color: var(--dark);
	color: var(--main);
	line-height: 1em;
}